# Compiled source
*.o
*.out
*.class

# Dependencies
node_modules/
vendor/

# Build directories
/dist
/build

# System files
.DS_Store
Thumbs.db

# Mac
*.dSYM/

# IDE configs
.vscode/
.idea/

# Emacs
*~